<h1>Evaluator password reset!</h1>
<p>Hello, <%= @user.full_name %>.</p>
<p>You have requested a password reset, click
<a href="http://evaluator.in/#/reset/<%= @user.id %>?token=<%= @token %>">here</a> to reset your password.
</p>
<p> If you are having trouble following that link just copy and paste this URL http://evaluator.in/#/reset/<%= @user.id %>?token=<%= @token %> </p>

<% if @user.student? %>
  <p>If you did not request a password reset simply ignore this email</p>
<% else %>
  <p>Since you are a teacher if you didn't request a reset please report this immediatly to the course supervisor!</p>
<% end %>